
additionalTrustedCAs: false

antiAffinity: preferred
topologyKey: kubernetes.io/hostname

auditLog:
  destination: sidecar
  hostPath: /var/log/rancher/audit/
  level: 2
  maxAge: 90
  maxBackup: 100
  maxSize: 5000

  
  image:
    repository: "rancher/mirrored-bci-micro"
    tag: 15.4.14.3
    pullPolicy: "IfNotPresent"


addLocal: "true"


debug: false


restrictedAdmin: false


# hostname: rancher.observsmart.com


imagePullSecrets: []

ingress:
  enabled: true
  includeDefaultExtraAnnotations: true
  extraAnnotations: {}
  ingressClassName: "nginx"
  # backend port number
  servicePort: 80


  # tls:
  #   # options: rancher, letsEncrypt, secret
  #   # source: rancher
  #   source: secret
  #   secretName: tls-rancher-ingress

### LetsEncrypt config ###
# ProTip: The production environment only allows you to register a name 5 times a week.
#         Use staging until you have your config right.
# letsEncrypt:
#   # email: none@example.com
#   environment: production
#   ingress:
#     # options: traefik, nginx
#     class: ""
# # If you are using certs signed by a private CA set to 'true' and set the 'tls-ca'
# # in the 'rancher-system' namespace. See the README.md for details
# privateCA: false



# comma separated list of domains or ip addresses that will not use the proxy
noProxy: 127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,.svc,.cluster.local

# Override rancher image location for Air Gap installs
rancherImage: rancher/rancher

replicas: 1

priorityClassName: rancher-critical


resources: {}


tls: ingress

systemDefaultRegistry: ""


useBundledSystemChart: false


certmanager:
  version: ""


customLogos:
  enabled: false
  volumeSubpaths:
    emberUi: "ember"
    vueUi: "vue"

  volumeKind: persistentVolumeClaim

  accessMode: ReadWriteOnce
  size: 1Gi

bootstrapPassword: ""

livenessProbe:
  initialDelaySeconds: 60
  periodSeconds: 30
readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 30