apiVersion: apps/v1
kind: Deployment
metadata:
  name: bluewave-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: bluewave-app
  template:
    metadata:
      labels:
        app: bluewave-app
    spec:
      containers:
      - name: bluewave-app
        image: <image_full_tag>
        ports:
        - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: bluewave-app-service
    
spec:
  selector:
    app: bluewave-app
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8080

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bluewave-app-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    external-dns.alpha.kubernetes.io/hostname: bluewave.ledoux-bluewave.com
spec:
  rules:
  - host: '*.amazonaws.com'
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: bluewave-app-service
            port:
              number: 8081
